.card {
  width: 70vw;
  height: 450px;
  border: solid;
  margin: 0 auto;
  padding: 5px;
  background: #e0e0e0;
  display: flex;
  flex-flow: column;
}

.card__header {
  /* border: solid; */
  margin-bottom: 5px;
  padding: 10px 20px;
  text-align: center;
  font-size: 1.5em;
  color: #fff;
  background: #0e0e0e
}
